
<section fxLayout="column" fxLayoutAlign="center center">
<h1> Časopisi</h1>

<div fxLayoutAlign="center center">
    <mat-form-field>
        <input type="text" matInput (keyup)="doFilter($any($event.target).value)" placeholder="Filter / Pretraga">
    </mat-form-field>    
</div>


<mat-table [dataSource]="casopisiSource" matSort>

    
    <ng-container matColumnDef="naziv">
        <mat-header-cell *matHeaderCellDef >Naziv</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.naziv}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="domen">
        <mat-header-cell *matHeaderCellDef >Domen</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.domen }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="broj strana">
        <mat-header-cell *matHeaderCellDef >Broj strana</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.brojStrana | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="izdavac">
        <mat-header-cell *matHeaderCellDef >Izdavac</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.izdavac }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="datum izdavanja">
        <mat-header-cell *matHeaderCellDef >Datum izdavanja</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.datumIzdavanja | date }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cena">
        <mat-header-cell *matHeaderCellDef >Cena</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.cena | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="recenzije">
        <mat-header-cell *matHeaderCellDef >Recenzije</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.recenzije | number }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef ></mat-header-cell>
        <mat-cell *matCellDef="let element" fxLayoutGap="5px"><button mat-mini-fab color="primary" routerLink="/casopis/{{element.id}}"><mat-icon>fullscreen</mat-icon></button>
            <button  mat-mini-fab color="primary" (click)="addItem(element.naziv,element.cena)"><mat-icon>add</mat-icon></button>
        </mat-cell>
    </ng-container>

    

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [pageSize]="10" [pageSizeOptions]="[5,10,15,20]"></mat-paginator>

</section>
