form{
    
    padding-bottom: 0px;
    width: 100%;
    background-color: rgb(230, 230, 230);
    
    
}

h1{
    font-size: 20px;
}

button{
    margin-bottom: 20px;
}
mat-form-field{
    width:100%;

}

mat-card-subtitle{
    margin-right: 25px;
    font-size: 0.9em;
    color: rgb(221, 99, 0);
}

div{
    padding: 10px;
    
}
