
<section>
    
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="200px">
        <div class="welcome">
            <h1>ZDRAVO!</h1>

            <p class="paragraf">
                Kroz čitanje ulazimo u svet mašte, znanja i ideja. Knjige, članci, 
                eseji i drugi tekstovi otvaraju vrata nepresušnom izvoru informacija i inspiracije.
                    <br>
                    <br>
                Kroz čitanje razvijamo svoj vokabular, poboljšavamo svoju gramatiku i jačamo svoje razmišljanje. 
                Svaka nova knjiga koju pročitamo donosi nam nove perspektive, ideje i pogleda na svet. Ona nas vodi kroz različite vremenske periode,
                kulture i društva, omogućavajući nam da bolje razumemo ljudsku prirodu i svet oko nas.
            </p>
    </div>
    <div>
        <img src="assets/img/books.jpg" class="books">
    </div>
             
    </div>
</section>